<a href="https://colab.research.google.com/github/thanubaalaji/ranganathan/blob/main/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#operators
arithmetic
logicla
assignemtn
relational

In [ ]:
#bitwise operators
#&
a=5

In [ ]:
b=4

In [ ]:
a&b

In [ ]:
x=6
y=2

In [ ]:
x&y

In [ ]:
6&2

In [ ]:
6|2

In [ ]:
a|b

In [ ]:
#~

In [ ]:
a

In [ ]:
~a

In [ ]:
#^ xor operator

In [ ]:
a

In [ ]:
b

In [ ]:
5^4

In [ ]:
#>>

In [ ]:
a#---->0000 0101
#right shift is 0000 0001

In [ ]:
a>>2

In [ ]:
#left shift
a<<2#---0001 0100

In [ ]:
5*2^2

In [ ]:
2^2

In [ ]:
a=[1,2,3,5]

In [ ]:
5 in a

In [ ]:
if 5 in a:
    print("5 is inside a")

In [ ]:
4 in a

In [ ]:
if 4 in a:
    print("4 is inside a")
else:
    print("4 is not inside a")

In [ ]:
#identity operator
a=10
b=10

In [ ]:
a is b #this is checking id

In [ ]:
id(a)

In [ ]:
id(b)

In [ ]:
a==b #it is checking value

In [ ]:
x=20
y=40

In [ ]:
x is not y

In [ ]:
x==y

In [ ]:
2*(2+3)

In [ ]:
2+2-2

In [ ]:
(2+3)/2%6//6-2

In [ ]:
2.5%6

In [ ]:
2.5//6

In [ ]:
2+3/4-(2*2**3)%4-3

In [ ]:
2**3>>3+2^3

In [ ]:
#pthon functions
1. builin function
2. module based or library based or package based functions
3. user defined furction
    to organize the code
    to eleiminate the code duplication
    reuse again and again.

In [ ]:
import array
array.array("i",(1,2,3,3))

In [ ]:
syntax of function:
    def function_name(paramaters):
        <statements>
        return value
    calling function name

In [ ]:
def fun():
    pass

In [ ]:
def fun():
    return "hello world"
    #print("hello world")
#driver code
#function calling
fun()

In [ ]:
a+b

In [ ]:
def add(a,b):#a, b are parameters
    c=a+b
    return c
add(10,10)#arguments

In [ ]:
def add(a,b):#a, b are parameters
    return a+b
d=add(10,10)#arguments
print(d)

In [ ]:
sum((10,20)) #builtin sum of elements

In [ ]:
sum((20,20))

In [ ]:
def add(a,b):#a, b are parameters
    c=a+b
    return c
add(20,20)#arguments

In [ ]:
add(30,40)

In [ ]:
add(50,60)

In [ ]:
def fun1(a,b):
    return a+b
res =fun1(20,30)+20
print(res)#res is varible it is responsble for holding data

In [ ]:
#function with default value

In [ ]:
def fun2(name, age=30): #default value
    print(f'my name is {name}, and age is {age}')
fun2("ganesh")

In [ ]:
def fun2(name, age=30):
    print(f'my name is {name}, and age is {age}')
fun2("ganesh",35)

In [ ]:
def fun2(name, age=30, marks=65):
    print(f'my name is {name}, and age is {age} my marks {marks}')
fun2("ganesh",35,80)
fun2("shatish",25, 89)

In [ ]:
#function with variable length argument:
def fun3(a,b):
    print(a,b)
fun3(12)
fun3(12,3)
fun3(1,2,3,4,5)

In [ ]:
#function with variable length argument:
def fun3(a,b=90):
    print(a,b)
fun3(12)
fun3(12,3)
fun3(1,2,3,4,5)

In [ ]:
#function with variable length argument:
def fun3(a,*b):
    print(a,b)
fun3(12)#result empty tuple
fun3(12,3)#b is 3
fun3(1,2,3,4,5) #b is tuple which having

In [ ]:
#function with keyword argument

In [ ]:
def fun4(**kwargs):#keywords arguments
    print(kwargs,type(kwargs))
fun4(name="ganesh",marks=30)

In [ ]:
"""
(PA----->Positional argument
DA----->Default argument,
VA---->variable lenghth arguments,
KWA------>keyword arguments
)
"""

In [ ]:
#using function take input a="1/2/3/4/h"
#expected [1,2,3,4,'h']

In [ ]:
def split_string(a):
    b=[]
    for i in a.split('/'):
        if i.isdigit():
            b.append(int(i))
        else:
            b.append(i)
c=split_string("1/2/3/4/h")
print(b)

In [ ]:
a="1/2/3/4/h"
b=[]
for i in a.split('/'):
    if i.isdigit():
        b.append(int(i))
    else:
        b.append(i)
print(b)

In [ ]:
#pass by reference(sending actaul value) or pass by value(sending copy value)

In [ ]:
#pythoon only pass by reference
def fun(x1):
    print("inside before appending",x1, id(x1))
    x1.append(30)
    print("after appending",x1,id(x1))
list1=[1,2,3]
fun(list1)
print("after calling appending",list1,id(list1))

In [ ]:
#lambda functions
1. anynoumous function
2. simply single line statement
3. we can call fun name as a argumnt for other built in function

In [ ]:
def add1(a,b):
    return a+b
add1(2,3)

In [ ]:
a=lambda a,b:a+b

In [ ]:
a(2,3)

In [ ]:
#comprehnsion
list
set
dictionary
generator

In [ ]:
list1=[1,2,3,4]
liat2=[]
for i in list1:
    if i%2==0:
        liat2.append(i)
print(liat2)

In [ ]:
##list comprehnsion
syntax:
a=[statements(expression) for var in iterbale condition]

In [ ]:
v=[x**2 for x in list1]
print(v)

In [ ]:
list1*2

In [ ]:
##set comprehnsion
syntax:
a={statements(expression) for var in iterable condition}

In [ ]:
set1={1,2,3}
v={x+2 for x in set1 if 2 in set1}
print(v)

In [ ]:
#enumerate
list1
for i in list1:
    dict(enumerate(i))

In [ ]:
list1=['a','b','c','d']
for i in list1:
    dict(enumerate(i))
    print(i)

In [ ]:
l1=['a','b','c','d']
d1=dict(enumerate(l1,1))
print(d1)